<div class="container">
  
  <div class="search-form">
    <form action="/artist-search" method="get">

      <input type="search" id="artist-search" name="artist" placeholder="Search Artist">

      <button>Search for artist</button>

    </form>
  </div>
</div>